/*
Structure instructionï¼š
    # [Default Css]
        - [Root Css]: :root { ... }
        - [Structure]: html, body, main, #wrap ...
        - [HtmlTag]: h1, a, ::-webkit-scrollbar ...

    # [Plugins]
        - [Plugins Modified]: Bootstrap Modals...
        - [Plugins SelfMade]: My Modals...

    # [Public Style]
        - [Simple Css]: typesetting, color ... ( Single Css )
        - [Elements]: button, checkbox, icon ... ( Simple Component )
        - [Components]: RWD_table, user_card ... ( Complex Components )

    # [Pages]
        - [Include Page]: header, footer
        - [Current Page]: #login, #about

    -- Author Comebuy
*/

@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap);

/*######### [Default Css] #########*/
    /*====== [Root Css] ======*/
        :root {
            --100vh: 100vh;
            --ff-default: 'Noto Sans TC';
        }


    /*====== [Structure] ======*/
        html { scroll-behavior: smooth; }
        body { font-family: var(--ff-default), 'Microsoft JhengHei', sans-serif; }
        #wrap { display: flex; flex-direction: column; margin-inline: auto; min-height: var(--100vh); }
        main { flex-grow: 1; }


    /*====== [Default Html] =======*/
        a { color: var(--bs-dark); text-decoration: none; }
        a:hover { color: inherit; text-decoration: none; }
        label { margin-bottom: 0; }



/*######### [Plugins] #########*/
    /*====== [Plugins Modified] ======*/
        /*=== Bootstrap ===*/


    /*====== [Plugins SelfMade] ======*/
        /*=== js- ===*/



/*######### [Public Style] #########*/
    /*====== [Simple Css] ======*/
        /*=== typesetting ===*/
            .h-100vh { height: var(--100vh); }
    
        /*=== color ===*/
        /*=== font ===*/


    /*====== [Elements] ======*/
        /*=== button ===*/


    /*====== [Components] ======*/
        /*=== rwd_table ===*/



/*######### [Pages] #########*/
    /*====== [Include Page] ======*/
        /*=== header ===*/


    /*====== [Current Page] ======*/
        /*=== index ===*/